/*Mobile*/
@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .sobre-container {
    flex-wrap: wrap;
  }
}


@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburguer-nav {
    display: flex;
  }

  #experiencia, .experiencia-detalhes-container {
    margin-top: 2rem;
  }

  #perfil, .section-container {
    display: block;
  }

  #perfil .titulo {
    line-height: 43px;
    font-size: 40px;
  }

  section, .section-container {
    height: fit-content;
  }

  section {
    margin: 0 5%;
  }

  .section__foto-container {
    max-width: 275px;
    max-height: 290px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  #sobre .section__foto-container img {
    max-width: 275px;
    max-height: 275px;
  }

  .sobre-container {
    margin-top: 0;
  }

  .sobre-container, .sobre-detalhes-container {
    margin-top: 50px;
    text-align: center;
  }

  #sobre {
    margin-top: 80px;
  }

  .experiencia-detalhes-container {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #contato {
    margin: 0 auto;
  }

  .contact-info-upper-container {
    flex-direction: column;
  }

  footer .nav-links {
    font-size: 16px;
  }
}

@media screen and (max-width: 900px) {
  .logo {
    font-size: 22px;
  }
}